<div class="container">

  <div class="row">

    <div class="col-md-12">
      <h1 class="text-center text-danger">Eat-Da-Burger</h1>
      <img src="/assets/img/hamburgerbg.jpg" alt="hamburgerpic" class="rounded mx-auto d-block img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add a Burger</h2>
        <form action="burger/create" method="POST" class="create-form">

         <div class="form-group">
          <label for="burger_name">Burger Name:</label>
          <input type="text" id="burger_name" name="name">
         </div>

        <button id="addburger">Add Burger</button>

  </div>

<!-- Pseudocode for the next part because I can't figure it out

I would like to have 2 divs each with a card,

One on the left would show all of the burgers yet to be eaten, as well as newly submitted burgers.
  -should be linked with the insertOne function from the burgers_controller.js

One on the right would show all of the devoured burgers
  -should be linked with the updateOne function

